<div class="wrapper">
        <div class="testimonial">
            <article>
                <h1>About Us</h1>
                <img src="" alt="">
                <blockquote>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea ut vero laborum? Aliquam, expedita totam perspiciatis dicta omnis rem, vero dignissimos sed architecto eos exercitationem.
                </blockquote>
                <div class="team">
                    <div class="teams">Meet The Team</div>
                  <div class="cards">
                    <div class="img1" class="float-child">
                        <div class="text-container">
                            <h3 class="name">Andrew Yu</h3>
                            <div class="content">
                                <p>
                                    <a href="#"></a><i class="fab fa-instagram "></i>
                                    <a href="#"></a><i class="fab fa-github "></i>   
                                 </p>
                            </div>
                        </div>
                    </div> 
                    <div class="img2" class="float-child">
                        <div class="text-container">
                            <h3 class="name">Fayaz Lalani</h3>
                            <div class="content">
                                <p>
                                   <a href="#"></a><i class="fab fa-instagram "></i>
                                   <a href="#"></a><i class="fab fa-github "></i>   
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="img3" class="float-child">
                        <div class="text-container">
                            <h3 class="name">John Harris</h3>
                            <div class="content">
                                <p>
                                    <a href="#"></a><i class="fab fa-instagram "></i>
                                    <a href="#"></a><i class="fab fa-github "></i>   
                                 </p>
                            </div>
                        </div>
                    </div>
                    <div class="img4" class="float-child">
                        <div class="text-container">
                            <h3 class="name">Marcio Araujo</h3>
                            <div class="content">
                                <p>
                                    <a href="#"></a><i class="fab fa-instagram "></i>
                                    <a href="#"></a><i class="fab fa-github "></i>   
                                 </p>
                            </div>
                        </div>
                  </div>                    
                </div>
                
            </article>
        </div>
    </div>