<div class="wrapper">
    <div class="testimonial">
        <article>
            <h1>About Us</h1>
            <img src="" alt="">
            <blockquote>
                    As health and fitness enthusiasts, we understand the value in tracking daily workouts. With this app, users can easily create and monitor their daily workouts. You’ll even be able to record your gains and losses. Not to mention, our app will help you find the closest gym near you!
            </blockquote>
            <div class="team">
                <div class="teams">Meet The Team</div>
                <div class="cards">
                <div class="img1" class="float-child">
                    <div class="text-container">
                        <h3 class="name">Andrew Yu</h3>
                        <div class="content">
                            <p>
                                <a href="#"></a><i class="fab fa-instagram "></i>
                                <a href="#"></a><i class="fab fa-github "></i>   
                                </p>
                        </div>
                    </div>
                </div> 
                <div class="img2" class="float-child">
                    <div class="text-container">
                        <h3 class="name">Fayaz Lalani</h3>
                        <div class="content">
                            <p>
                                <a href="#"></a><i class="fab fa-instagram "></i>
                                <a href="#"></a><i class="fab fa-github "></i>   
                            </p>   
                        </div>
                    </div>
                </div>
                <div class="img3" class="float-child">
                    <div class="text-container">
                        <h3 class="name">John Harris</h3>
                        <div class="content">
                            <p>
                                <a href="#"></a><i class="fab fa-instagram "></i>
                                <a href="#"></a><i class="fab fa-github "></i>   
                                </p>
                        </div>
                    </div>
                </div>
                <div class="img4" class="float-child">
                    <div class="text-container">
                        <h3 class="name">Marcio Araujo</h3>
                        <div class="content">
                            <p>
                                <a href="#"></a><i class="fab fa-instagram "></i>
                                <a href="#"></a><i class="fab fa-github "></i>   
                                </p>
                        </div>
                    </div>
                </div>                    
            </div>
        </article>
    </div>
</div>