<section id="aboutus">
    <div class="container-fluid d-flex justify-content-center">
        <div class="row text-center">
            <div>
                <div class="card bg-dark m-5">
                    <h1 class="display-1 text-tomato">About Us</h1>
                    <blockquote class="blockquote text-tomato">
                        <p class="fs-2">
                            As health and fitness enthusiasts, we understand the value in tracking daily workouts.<br/> 
                            With this app, users can easily create and monitor their daily workouts. <br/> 
                            You’ll even be able to record your gains and losses. <br/>
                            Not to mention, our app will help you find the closest gym near you!
                        </p>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-dark">
                    <div class="card-body text-center"> 
                        <img src="image/andrew.jpeg" class="rounded-circle" width="200" height="200">
                        <h5 class="card-title mt-1 mb-1">Andrew Yu</h5> 
                        <span class="fs-2 mb-3 font-weight-bold">Full Stack Developer</span>
                        <ul class="mt-2 list-inline">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/andrew-yu-b03181125/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/andrewyu22" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-dark">
                    <div class="card-body text-center"> 
                        <img src="image/Fayaz.jpeg" class="rounded-circle" width="200" height="200">
                        <h5 class="card-title mt-1 mb-1">Fayaz Lalani</h5> 
                        <span class="fs-2 mb-3 font-weight-bold">Full Stack Developer</span>
                        <ul class="mt-2 list-inline">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/fayazlalani" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/fayazl" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-dark">
                    <div class="card-body text-center"> 
                        <img src="image/marcio1.jpeg" class="rounded-circle" width="200" height="200">
                        <h5 class="card-title mt-1 mb-1">Marcio Araujo</h5> 
                        <span class="fs-2 mb-3 font-weight-bold">Full Stack Developer</span>
                        <ul class="mt-2 list-inline">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/marcio-ramos-708876209" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/Jump89" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card bg-dark">
                    <div class="card-body text-center"> 
                        <img src="image/john1.jpeg" class="rounded-circle" width="200" height="200">
                        <h5 class="card-title mt-1 mb-1">John Harris</h5> 
                        <span class="fs-2 mb-3 font-weight-bold">Full Stack Developer</span>
                        <ul class="mt-2 list-inline">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/john-harris-90930185" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/jharris92" target="_blank"><i class="fab fa-github fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
