     <section id="thehero">
        <div class="the-inner">
          <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Make Fitness A Habit</h1>
        <br>
        <br>
        </div>
        </div>
            <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p>The Gainz application is here to help you focus on your health and fitness goals. Don't quit a week into your new years resoltion and let the Gainz app help you. Use our app to record your daily workouts, track your daily progress, and set your goals whether they are small or large. As long as you move forward with the Gainz app.</p>
        </div>
        </div>
        <br>
        <br>
        <div class="row points">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-md-offset-.5">
              <p>Record Daily Workout</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-md-offset-.5">
              <p>Track Progress</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-md-offset-.5">
              <p>Set Goals</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-md-offset-.5">
              <p>Find a Gym Near You</p>
            </div>
          </div>
        </div>
        </div>
        </section>