<div class="input-greoup mb-3">
    <div class="search" >
        <button onclick="yelpApi()" type="button" class="btn" class="btn btn-secondary">Search</button>
    </div>
    <div class="row justify-content-center">
        <input id="locationInput" class="text-area" class="input is-primary" type="text" name="locationInput" placeholder="Zipcode" style="text-align:center"/>
    </div>
</div>
<div id="map" class="map"></div>
    
<script src="/js/map.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBofEj2qphNYQMAJmhTqnmDt28sjHIEDMA"></script>