<div class="container mt-5">
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <div class="col">
            <h2>Current Image</h2>
            <img src="/uploads/{{picture}}" class="rounded-circle" height="300px" max-width="10%" alt="profile" loading="lazy"/>
        </div>
        <div class="col">
            <form action="/api/users/image" enctype="multipart/form-data" method="post">
                <div class="form-group mt-5">
                    <input type="file" class="form-control-file" name="image_name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>