<section class="vh-50">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
              <p class="text-white-50 mb-5">Please enter your email and password!</p>
              <div class="form-floating mb-4 text-dark">
                <input type="text" class="form-control" id="firstName" placeholder="Jane">
                <label for="firstName">First Name</label>
              </div>
              <div class="form-floating mb-4 text-dark">
                <input type="text" class="form-control" id="lastName" placeholder="Doe">
                <label for="lastName">Last Name</label>
              </div>
              <div class="form-floating mb-4 text-dark">
                <input type="text" class="form-control" id="username" placeholder="JaneDoe21">
                <label for="username">User Name</label>
              </div>
              <div class="form-floating mb-4 text-dark">
                <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                <label for="email-signup">Email address</label>
              </div>
              <div class="form-floating mb-4 text-dark">
                <input type="password" class="form-control" id="password-signup" placeholder="Password">
                <label for="password-signup">Password</label>
              </div>
              <button class="btn btn-outline-light btn-lg px-5" type="submit" onclick="signupFormHandler()">Sign Up</button>
            </div>
            <div>
              <p class="mb-0">Have an account? <a href="/login" class="text-white-50 fw-bold">Log In</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/signup.js"></script>