<form class="signup-form">
  <div>
    <label for="email-signup" placeholder="email@gmail.com">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/js/signup.js"></script>