<div id="date" class="container d-flex justify-content-center mt-5 vh-100">
    <div class="row">
        <div class="col align-items-center">
            <div class="calendar">
                <div class="calendar-header">
                    <span class="month-picker" id="month-picker">February</span>
                    <div class="year-picker">
                        <span class="year-change" id="prev-year">
                            <pre><</pre>
                        </span>
                        <span id="year">2021</span>
                        <span class="year-change" id="next-year">
                            <pre>></pre>
                        </span>
                    </div>
                </div>
                <div class="calendar-body">
                    <div class="calendar-week-day">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="calendar-days"></div>
                </div>
                <div class="calendar-footer">
                    <div class="toggle">
                        <span>Dark Mode</span>
                        <div class="dark-mode-switch">
                            <div class="dark-mode-switch-ident"></div>
                        </div>
                    </div>
                </div>
                <div class="month-list"></div>
            </div>   
        </div>
        <div class="col activity text-center align-items-center"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-trigger" tabindex="-1" role="dialog" aria-labelledby="modal-true" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-title">New Exercise</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
             <form>
                <div class="mb-3">
                    <label class="form-label">Exercise Name</label>
                    <input type="text" class="form-control" id="exercise-name" name="exercise-name" placeholder="Running" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Exercise Type</label>
                    <select id="exercise-type" class="form-select" name="exercise-type">
                        <option disabled>Select Category</option>
                        <option value="Cardio">Cardio</option>
                        <option value="Resistance">Resistance</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Duration (Minutes)</label>
                    <input type="number" class="form-control" id="duration" name="duration" placeholder="60" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="addActivity" type="submit" class="btn btn-primary" onclick="addExercise()">Add Activity</button>
            <button id="editActivity" type="submit" class="btn btn-primary" onclick="saveExercise()">Save</button>
        </div>
        </div>
    </div>
</div>

<script src="/js/calendar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>