body, html {
  height: 100%;
}

#map {
    height: 400px;
    width: 600px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey ;
  }

  .search {
    text-align: center;
  }

  .text-area {
    width: 95px;
    border:2px solid grey;
    margin-top: 20px;
    background-color: grey;
  }
  
  .text-area:hover{
    background-color:transparent;
  }

  .btn {
    width: 97px;
    border:2px solid grey;
    background-color: transparent;
  }
  .btn:hover{
    background-color: tan;
  }
  
  .bg {
    /* The image used */
    background-image: url(/public/image/workout-map.jpeg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }